*{
    margin-top: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; ;
}
ul{
    height: 70px;
    width: auto;
    background: black;
    text-align: center;
    line-height: 55px;  
}

ul li{
    list-style: none;
    display: inline;
    color: white;
    font-size: 20px;
    margin: 5px;
    padding: 50px;
    font-size: medium;
}
.parent{  
    transition: 1s;
}

.parent .main{
    height: auto;
    width: 50%;
    position: absolute;
    top: 70px;
    margin-left: 490px;
    /* border: 1px solid red; */
    display: none;
}
.parent:hover .main{
    display: flex;
}

.parent .main .list .menu{
    background: white;
}
.parent .main .list .menu .item{
    display: block;
    line-height: 0;
    color: black;
    font-size: 20px;
    margin: 1;
    padding: 18px;
    
}
.parent .main .list .menu2{
    background: white;
}
.parent .main .list .menu2 .item1{
    display: block;
    line-height: 0;
    color: black;
    font-size: 20px;
    margin-left: 60px;
    margin: 1;
    padding: 18px;  
}







