body{
    background-color:darkcyan;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    text-decoration: underline;
}
/* li::after{
    content: " ";
    color: coral;
    margin: 50px;
    border: 1px solid red;
} */
::selection{
    color: cornsilk;
    background-color:crimson;
}