table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    height: 50px;
}
tr,th{
    border: 1px solid red;
    padding: 10px;
    background-color:burlywood;
}

tr,th:hover{
   background-color:cornsilk;
}
a{
    text-decoration: none;
    color:blue;
}
a:active{
 color: blanchedalmond;
}

a:visited{
    color: teal;
}
::selection{
    color: chartreuse;
    background-color:brown;
}
th:hover{
    text-decoration: underline;
}