
.ifm{
    border: 1px solid black;
    background-color:antiquewhite;
}
body{
    background: url(https://static-cse.canva.com/blob/572626/1.magebyRodionKutsaevviaUnsplash.jpg);
    background-size: cover;
}
.if{
    border: 1px solid black;
    background-color: darkolivegreen;
    
}