* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Header start  */
.header {
    height: 60px;
    background:white;
    width: 100%;
    /* border: 1px solid black; */
    position: fixed;
    z-index: 1;
    
}

.header .first {
    width: 20%;
    height: 50px;
    /* border: 1px solid black; */
    float: left;
    top: 0;
    z-index: 1;
}

.header .first img {
    
    margin-left: 70px;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.header .second {
    position: sticky;
    width: 79%;
    height: 45px;
    /* border: 1px solid black; */
    float: left;
    margin-left: 10px;
    top: 0;
    left: 200px;
    z-index: 1;
    
}

.button {
    height: 30px;
    width: 60px;
    margin-top: 15px;
    background-color: #00572d;
    color: white;
    border-radius: 7px;

}

.header .second ul {
    margin-left: 70px;
    height: inherit;
    width: 80%;
    float: right;

}

.header .second li {
    margin-top: 15px;
    width: 12%;
    height: inherit;
    float: left;
    list-style: none;
    text-align: center;
}

.header .second li a {
    text-decoration: none;
    /* font-weight: 10px; */

    font-size: 11px;
    /* border: 1px solid black; */
    padding: none;
}

.header .second li a:focus {
    color: #00572d
}

.header.second li a:active {
    color: #00572d;
}

.header .second li a:visited {
    color: #00572d;
}

/* Header End */

/* banner start */
.banner{
    height: 500px;
    width: 100%;
    
}
.banner .banner-img img{
 height: 550px;
 width: 140%;
 position: absolute;
 filter:brightness(0.5) ;
 left: -40%;
 transition: 1s;
}

.banner:hover .banner-img img{
    left: 0;
}
.banner .banner-text{
 height: 200px;
 width: 90%;
 position: absolute;
 left: 70px;
 top: 90px;
 text-align: center;
 line-height: 150px;
 transition: 1s;
}
.banner:hover .banner-text h1{
    border: 10px solid white;
}
.banner .banner-text h1{
    font-size: 70px;
    color: white;
    text-shadow: 2px 1px 1px ;
}
.banner .banner-text h1 span{
    color: rgb(222, 222, 54);
}
/* deals and offer */
.deals {
    height: 50px;
    width: 100%;
    margin-top: 70px;
    margin-left: 60px;
}

.deals span {
    font-size: 25px;
    font-weight: 600;
}

/* coupans */
.coupans {
    height: 200px;
    width: 100%;
    margin-top: 20px;
    /* text-align: center; */
}

.coupans .img {
    height: 200px;
    width: 370px;
    float: left;
}

.coupans img {
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 10px;
    height: 200px;
    width: 350px;
}

/* about us  */

.about {
    height: 300px;
    width: 100%;
    /* margin-top: 50px; */
    margin-left: 60px;
}

.about .info {
    height: 150px;
    width: 100%;
    float: left;
}

.about .info-abt {
    height: 255px;
    width: 40%;
    margin-top: 70px;
}

.about p {
    margin-top: 20px;
    text-align: justify;
    font-size: 16px;
}

.about .info-img {
    margin-top: 20px;
    height: 300px;
    width: 45%;
    margin-top: 70px;

}
.about img {
    width: 70%;
    border-radius: 50%;
    float: right;
}

/* coffee and burger */
.coffee {
    width: 100%;
    height: 340px;
    clear: left;
}

.coffee .img {
    width: 90%;
    height: 100px;
}

.coffee .img img {
    width: 100%;
    height: 230px;
    margin-top: 80px;
    margin-left: 60px;
    border-radius: 10px;
}

/* growth and journey */
.journey{
    height: 600px;
    width: 100%;
    background-color: rgb(236, 235, 235);
    position: relative;
    
}
.journey #growth{
    height: 50px;
    width: 40%;
    position: absolute;
    left: 60px;
    top: 40px;
    /* margin-top: 20px; */
    float: left;
    /* border: 1px solid black;  */
    clear: left;
}

.journey #growth h2{
    color: #00572d;
    font-weight: 500;
}
.journey #growth h2 span{
color:black ;
}

.journey #list {
    height: 400px;
    width: 50%;
    position: absolute;
    top: 100px;
    float: left;
    left: 50px;
    line-height: 70px;
}
.journey #image{
    height: 400px ;
    width: 50%;
    /* position: absolute; */
    float: right;
    margin-top: 80px;
    /* border: 1px solid black; */
}
.journey #image img{
    height: 500px;
    width: 90%;
    /* float: left; */
}

.journey #list ul{
    height: 400px;
    width: 40%;
    list-style: none;
}

#country{
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
#country h2{
    font-weight: 600;
}

#country h2 span{
    color: #00572d;
}