* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Header start  */
.header {
    height: 50px;
    background:white;
    width: 100%;
    /* border: 1px solid black; */

}

.header .first {
    width: 20%;
    height: 50px;
    /* border: 1px solid black; */
    float: left;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header .first img {

    margin-left: 70px;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.header .second {
    width: 79%;
    height: 45px;
    /* border: 1px solid black; */
    float: left;
    margin-left: 10px;
    position: sticky;
    top: 0;
    left: 200px;
    z-index: 1;

}

.button {
    height: 30px;
    width: 60px;
    margin-top: 15px;
    background-color: #00572d;
    color: white;
    border-radius: 7px;

}

.header .second ul {
    margin-left: 70px;
    height: inherit;
    width: 80%;
    float: right;

}

.header .second li {
    margin-top: 15px;
    width: 12%;
    height: inherit;
    float: left;
    list-style: none;
    text-align: center;
}

.header .second li a {
    text-decoration: none;
    /* font-weight: 10px; */

    font-size: 11px;
    /* border: 1px solid black; */
    padding: none;
}

.header .second li a:focus {
    color: #00572d
}

.header.second li a:active {
    color: #00572d;
}

.header .second li a:visited {
    color: #00572d;
}

/* Header End */

/* banner start */
.banner{
    height: auto;
    width: 100%;
    /* position: relative; */
}
.banner .banner-img{
    height: inherit;
    width: 100%;
}
.banner .banner-img .imgbanner{
    height: 500px;
    width: 100%;
    position: absolute;
    top: 100px;
}
.third {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    /* background-image: url('https://lapinozpizza.in/assets/wla_new/lapinoz/img/banner1.jpg'); */
    /* background-size: 100% 100%; */
    /* filter: brightness(0.5); */
    color: white;
    text-align: center;
    font-size: 40px;
    line-height: 150px;
    position: absolute;
    top: 10px;
}
.third span {
    color: yellow;
}

/* banner end */

/* Deals and offers */
.deals {
    height: 50px;
    width: 100%;
    margin-top: 10px;
    margin-left: 60px;
}

.deals span {
    font-size: 25px;
    font-weight: 600;
}

/* coupans */
.coupans {
    height: 200px;
    width: 100%;
    /* text-align: center; */
}

.coupans .img {
    height: 200px;
    width: 370px;
    float: left;
}

.coupans img {
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 10px;
    height: 200px;
    width: 350px;
}

/* about us  */

.about {
    height: 300px;
    width: 100%;
    /* margin-top: 50px; */
    margin-left: 60px;
}

.about .info {
    height: 150px;
    width: 100%;
    float: left;
}

.about .info-abt {
    height: 255px;
    width: 40%;
    margin-top: 70px;
}

.about p {
    margin-top: 20px;
    text-align: justify;
    font-size: small;
}

.about .info-img {
    margin-top: 20px;
    height: 300px;
    width: 45%;
    margin-top: 70px;

}

.about img {
    width: 70%;
    border-radius: 50%;
    float: right;
}

/* coffee and burger */
.coffee {
    width: 100%;
    height: 400px;
}

.coffee .img {
    width: 90%;
    height: 300px;
}

.coffee .img img {
    width: 100%;
    height: 230px;
    margin-top: 80px;
    margin-left: 60px;
    border-radius: 10px;
}