* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FBFAFE;

}

.header {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: black; */
}

.text {
    height: 100px;
    width: 20%;
    text-align: center;
    line-height: 100px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.header .menubar{
    display: none;
    height: auto;
    width: 40%;
    /* background-color: black; */
}
.menu {
    height: 100px;
    width: 70%;
    text-align: center;
    line-height: 100px;
}

.menu li {
    display: inline-block;
    padding: 10px;
    /* background-color: blue  ; */
}

.menu li a {
    color: #35414B;
    text-decoration: none;
}

.menu li a .getstarted {
    background-color: #ECE5FF;
    padding: 10px 10px;
    color: #794CFF;
    border-radius: 5px;
}

.menu li .login {
    padding-left: 70px;
}

.content {
    height: 32px;
    width: 220px;
    margin: 0px auto;
    margin-top: 120px;
    border-radius: 0px 100px 100px 0px;
    background: #F2F9EB;
    line-height: 30px;


}

#save-90 {
    border-radius: 100px;
    background: #81C43B;
    margin-right: 10px;
    padding: 5px;
}

.manage-team {
    height: 144px;
    width: 760px;
    margin: 0px auto;
    color: #35414B;
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
    /* 112.5% */

}

.simple-platform {
    height: 48px;
    width: 505px;
    margin: 10px auto;
    color: #4E5A65;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.search-bar {
    height: 52px;
    width: 480px;
    margin: 0px auto;
}

input {
    height: 52px;
    width: 319px;
    text-align: left;
    padding: 10px 0px 10px 10px;
    border-radius: 4px 0px 0px 4px;
    border: 1px solid #E1E5EA;
    background: #FFF;
}

.try-it {
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #794CFF;
    background: #794CFF;
    color: white;
    padding: 16px 56px 16px 15px;
    transition: 1s;

}

.try-it:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.graph {
    width: 920px;
    height: 654.287px;
    background: url(graph-1.png) lightgray 50% / cover no-repeat;
    background-size: 100% 100%;
    box-shadow: 0px 0px 48px -8px rgba(29, 40, 48, 0.18);
    margin: 60px auto;
}

.trusted-by {
    height: 16px;
    width: 398px;
    margin: 60px auto;
    color: #4E5A65;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
}

.trusted-by .ten {
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 16px; */
}

.icons {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icons .icon {
    margin: 60px;
    height: 25px;
    width: 80px;
    /* background-color: red; */
}

.timeline-container {
    height: 640px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: url(images/graph-2.png);
    background-size: 100% 100%;
}

/* .timeline-container img {
    width: 100%;
} */

/* make ur work easier */

.makework {
    height: 40px;
    width: 436px;
    margin: 10px auto;
    color: #35414B;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    /* 100% */
}

.contain-info {
    height: auto;
    width: 100%;
    display: grid;
    /* justify-content: center; */
    /* align-items: center; */
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
}

.contain-info .box {
    height: auto;
    width: auto;
    /* background-color: gray; */
}

.contain-info .box-1 {
    grid-area: 1/1/2/2;
}

.box-1 .survey {
    height: 64px;
    width: 64px;
    margin-left: 80px;
    margin-top: 40px;
    background-color: antiquewhite;
    border-radius: 50%;
    text-align: center;
}

.team-survey {
    height: 18px;
    width: 213px;
    color: #35414B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin: 20px 0px 0px 80px;
    /* 100% */
}

.team-survey-1 {
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0px 0px 80px;
    /* 150% */
}

.contain-info .box-2 {
    grid-area: 1/2/2/3;
}

.box-2 .collo {
    height: 64px;
    width: 64px;
    margin-left: 90px;
    margin-top: 40px;
}

.collo-text {
    color: #35414B;
    font-family: Inter;
    font-size: 18px;
    margin: 20px 0px 0px 80px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 100% */
}

.collo-text1 {
    width: 230px;
    height: 48px;
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 10px 0px 0px 80px;
    /* 150% */
}

.contain-info .box-3 {
    grid-area: 1/3/2/4;
}

.box-3 .learning {
    height: 64px;
    width: 64px;
    margin-left: 90px;
    margin-top: 40px;
}

.learning-text {
    color: #35414B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 100% */
    margin: 20px 0px 0px 80px;
}

.learning-text1 {
    width: 322px;
    height: 48px;
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin: 10px 0px 0px 80px;
}

.contain-info .box-4 {
    grid-area: 2/1/3/2;
}

.box-4 .message {
    height: 64px;
    width: 64px;
    margin-left: 80px;
    margin-top: 40px;
    background-color: #F65D88;
    border-radius: 50%;
}

.message img {
    margin: 20px 0px 0px 20px;
}

.box-4 .message-text {
    color: #35414B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 100% */
    margin: 15px 0px 0px 80px;
}

.box-4 .messsage-text1 {
    width: 311px;
    height: 48px;
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin: 10px 0px 0px 80px;
}

.contain-info .box-5 {
    grid-area: 2/2/3/3;
}

.box-5 .conversation {
    width: 64px;
    height: 64px;
    margin-left: 80px;
    margin-top: 40px;
    background-color: #EDE8F7;
    border-radius: 50%;
}

.conversation img {
    margin: 20px 0px 0px 20px;
}

.box-5 .convo-text {
    color: #35414B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin: 15px 0px 0px 80px;
    /* 100% */
}

.convo-text1 {
    height: 48px;
    width: 231px;
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin: 10px 0px 0px 80px;
}

.contain-info .box-6 {
    grid-area: 2/3/3/4;
}

.box-6 .manager {
    height: 64px;
    width: 64px;
    margin-left: 80px;
    margin-top: 40px;
}

.box-6 .manager-text {
    color: #35414B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    /* 100% */
    margin: 15px 0px 0px 80px;
}

.manager-text1 {
    width: 316px;
    height: 48px;
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    margin: 10px 0px 0px 80px;
}

/* grid end */

/* graph-2 start */

.graph-2 {
    height: 540px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.graph-2 .graph-text {
    height: 300px;
    width: 30%;
    /* background-color: #35414B; */
    margin: 200px 0px 10px 190px
}

.graph-text .we-work {
    height: 96px;
    width: 341px;
    color: #35414B;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    /* 120% */
}

.we-work1 {
    height: 72px;
    width: 371px;
    margin-top: 30px;
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.we-work2 {
    height: 52px;
    width: 164px;
    margin-top: 30px;
    border-radius: 4px;
    background: #796EFF;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    /* 100% */
    transition: 1s;
}

.we-work2:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.graph2 {
    height: 400px;
    width: 400px;
    /* background-color: #796EFF; */
    margin: 160px 30px 30px 30px;
}

/* graph end */

.customer {
    height: 96px;
    width: 394px;
    margin: 180px auto 0px auto;
    color: #35414B;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    /* 120% */
}

.my-team {
    height: 86px;
    width: 449px;
    margin: 50px auto;
    color: #4E5A65;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 177.778% */
}

.border {
    height: 4px;
    width: 264px;
    background: #35414B;
    margin-left: 290px;
}

/* about team */

.about-team {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid blue; */
}

.about-team .about-tm {
    height: 55px;
    width: 250px;
    margin: 10px 20px 0px 80px;
    /* background: #000; */
}

.team1 .team-pic {
    height: 48px;
    width: 48px;
    display: inline;
    position: relative;
}

.team1 .team-pic .robert {
    display: inline-block;
    width: 129px;
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 100% */
    position: absolute;
    left: 60px;
    top: -25px;

}

.team-pic .cs {
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    position: absolute;
    top: -3px;
    left: 60px;
    display: inline-block;
    width: 100px;

    /* 100% */
}

.team2 .team-pic1 {
    height: 48px;
    width: 48px;
    display: inline;
    position: relative;
    
}

.team-pic1 .bell {
    display: inline-block;
    width: 129px;
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 100% */
    position: absolute;
    left: 60px;
    top: -25px;
}
.team-pic:hover img{
    transform: scale(1.2);
}
.team-pic1:hover img{
    transform: scale(1.2);
}
.team-pic2:hover img{
    transform: scale(1.2);
}
.about-team img{
    transition: 1s;
}
.team-pic1 .designer {
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
    display: inline-block;
    position: absolute;
    width: 163px;
    top: -3px;
    left: 60px;
}

.team3 .team-pic2 {
    height: 48px;
    width: 48px;
    display: inline;
    position: relative;
}

.team-pic2 .develop {
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 100% */
    position: absolute;
    display: inline-block;
    width: 68px;
    left: 59px;
    top: -25px;
}

.team-pic2 .fox {
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
    display: inline-block;
    position: absolute;
    width: 151px;
    top: -3px;
    left: 60px;

}

/* rectangle start */

.rectangle {
    height: 224px;
    width: 1110px;
    border-radius: 16px;
    background: #796EFF;
    display: flex;
    flex-wrap: wrap;
    margin: 80px auto;
    align-items: center;
    transition: 1s;
}

.rectangle .r-1 {
    width: 423px;
    height: 96px;
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    /* 150% */
    background: transparent;
    margin-left: 90px;
}

.rectangle .r-2 {
    height: 72px;
    width: 189px;
    /* background-color: transparent; */
    margin-left: 70px;
    padding-top: 10px;
    padding-bottom: 19px;
    border-radius: 10px;
}

.rectangle .r-3 {
    height: 72px;
    width: 189px;
    margin-left: 30px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 19px;
}

.rectangle:hover {
    background-color: black;
}

/* footer start */
.main-footer {
    height: 417px;
    width: 100%;
    background: #1D2830;
}

.main-footer .list-items {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    background: #1D2830;
    justify-content: center;
}

.list-items .items {
    margin-top: 70px;
    width: 100%;
    height: auto;
    width: 20%;
    background: #1D2830;
    /* margin: 20px; */
}

.main-footer .list-items .list1 {
    list-style: none;
}

.main-footer .list-items .list1 li {
    background: #1D2830;
    padding: 10px;
    color: white;

}

.main-footer .list-items .list1 .company {
    background: #1D2830;
    font-weight: 900;
}

.line {
    height: 1px;
    width: 100%;
    margin-top: 80px;
    background-color: #4E5A65;
}

.footer {
    height: 50px;
    width: 100%;
    margin-top: 30px;
    background-color: #1D2830;
    display: flex;
    flex-wrap: wrap;
}

.footer .footer-text {
    background-color: #1D2830;
    color: white;
    color: var(--text-gray-300, #D9DBE1);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    /* 100% */
    width: 30%;
    margin: 0px 0px 0px 150px;
}

.social-media {
    background: #1D2830;
    margin-left: 490px;
}

.footer .group27,
.group28 {
    background: #1D2830;
    line-height: 10px;
    margin: 0px 20px 0px 0px;
}

/* footer end  */

@media(max-width:500px) {
    .header .text {
        height: 20px;
        width: 90px;
        color: #1D2830;
        margin-left: 20px;
    }

    .header .menu li a {
        display: none;
    }

    .content #save-90 {
        display: none;
    }

    .content {
        height: 13px;
        width: 120px;
        color: #35414B;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 13px;
        position: absolute;
        top: 60px;
        left: 180px;
        /* 100% */
    }

    .manage-team {
        height: 120px;
        width: 318px;
        margin: auto;
        position: absolute;
        left: 70px;
        top: 200px;
    }

    .simple-platform {
        height: 72px;
        width: 318px;
        margin-top: 260px;
    }

    .search-bar {
        width: 318px;
    }

    .search-bar .try-it {
        display: inline-block;
        margin-top: 10px;
        width: 318px;
        text-align: center;
    }

    /* content over */

    /* graph start */
    .graph {
        width: 384px;
        height: 273.288px;
        flex-shrink: 0;
        margin-top: 90px;
    }

    .trusted-by {
        width: 359px;
        height: 11px;
        color: #4E5A65;
        text-align: center;
        font-family: Inter;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 11px;
        /* 100% */
    }

    .timeline-container {
        width: 500px;
        height: 1000px;

        display: flex;
        flex-wrap: wrap;
        background: url('images/Screenshot\ 2023-09-28\ 123043.png');
        background-size: 100% 100%;
    }

    .makework {
        width: 197px;
        height: 18px;
        color: #35414B;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        margin-top: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        /* 100% */
    }

    .contain-info {
        height: auto;
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: repeat(6, 200px);
        grid-template-columns: repeat(1, 1fr);
        gap: 20px 20px;
    }

    .contain-info .box-1 {
        grid-area: 1/1/2/2;
    }

    .contain-info .box-2 {
        grid-area: 2/1/3/2;
    }

    .contain-info .box-3 {
        grid-area: 3/1/4/2;
    }

    .contain-info .box-4 {
        grid-area: 4/1/5/2;
    }

    .contain-info .box-5 {
        grid-area: 5/1/6/2;
    }

    .contain-info .box-6 {
        grid-area: 6/1/7/2;
    }

    .box {
        margin: 0px 0px 0px 18px;
    }

    .team-survey-1 {
        width: 300px;
    }

    .graph-2 {
        height: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }


    .graph2 {
        width: 100%;
        height: 260.648px;
    }

    .graph2 img {
        width: 90%;
        margin-left: 60px;
        height: 260.648px;
        margin: auto;
    }

    .graph-2 .graph-text {
        height: 300px;
        width: 50%;
        /* background-color: #35414B; */
        /* margin: 200px 0px 10px 190px */
        margin: auto;
    }

    .graph-text .we-work {
        height: 48px;
        text-align: center;
        width: 200px;
        color: #35414B;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 133.333% */
        /* 120% */
    }

    .we-work1 {
        height: 72px;
        width: 250px;
        margin-top: 30px;
        margin-left: -21px;
        color: #4E5A65;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        /* 150% */
    }

    .we-work2 {
        width: 318px;
        height: 52px;
        margin-left: -65px;
    }

    .customer {
        width: 216px;
        margin-top: 0px;
        margin-left: 135px;
        height: 48px;
        color: #35414B;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        /* 133.333% */
    }

    .my-team {
        width: 336px;
        color: #4E5A65;
        margin-left: 81px;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        /* 177.778% */
    }

    .border {
        display: none;
    }

    .rectangle {
        width: 414px;
        height: 466px;
        flex-shrink: 0;
        justify-content: center;
    }

    .rectangle .r-1 {
        width: 357px;
        text-align: center;
        height: 64px;
        margin-left: 14px;
    }

    .rectangle .r-2 {
        margin-left: 20px;
        margin-top: 73px;
    }

    .main-footer {
        width: 480px;
        height: 483px;
        margin-left: 0px;
        
    }
     .main-footer .list-items{
        justify-content: start;

    }
    .social-media{
        display: none;
    }
    .items .list1 li{
        display: block;
    }
    .items .list1 img{
        background: #1D2830;
    }
    .footer .footer-text{
        width: 321px;
    }
    /* menubar */

    .header .menubar{
        display: block;
        margin: 15px 0px 0px 395px;
        /* background-color: #1D2830; */
        height: 200px;
        position: relative;

    }
    .menubar .mainmenubar{
        list-style: none;
    }
    .mainmenubar .menubar-0 .menubar-1{
        display: none;
        
    }
    .mainmenubar .menubar-0:hover .menubar-1{
        display: block;
    }
    .menubar-0 .menubar-1{
        list-style: none;
        margin-right: 50px;
        /* background-color: #1D2830; */
        position: absolute;
        left:-20px;
        width: 100%;
       
    }
    .menubar-0 .menubar-1 li {
        padding: 20px;
        /* background-color: #1D2830; */
    }
    .menubar-1 .loginbg{
        background-color: #1584d3;
    }
    .menubar-0 .menubar-1 li a{
        /* background-color: #1D2830; */
        color: black;
        text-decoration: none;
        font-size: small;
        font-family: Inter;
    }
    .menubar-0 .menubar-1 li a span{
        background: #1584d3;
        padding: 10px;
        padding-left: 15px;
        transition: 1s;
        font-family: Inter;
        border-radius: 5px;
    }
    .menubar-0 .menubar-1 li a span:hover{
        background-color: black;
        color: white;
        padding-right: 40px;
    } 
}